.forgot-wrapper {
  min-height: 100vh;
  max-width: 350px;
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
}

.forgot-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: center;
}

.reset-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left;
  width: 100%;
}

.reset-desc {
  color: #232a54;
  font-size: 1rem;
  margin-bottom: 18px;
  text-align: left;
  width: 100%;
}

.forgot-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  background: #f2f3f7;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 18px;
}

.full-width-button {
  width: 100%;
  padding: 12px 0;
  background: #232a54;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
}

.reset-info {
  color: #a3a3a3;
  font-size: 1rem;
  text-align: center;
  margin-top: 12px;
}
